<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.2/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
>

  <testsuites>
    <testsuite name="acceptance">
      <directory suffix="AcceptanceTest.php">tests</directory>
    </testsuite>
    <testsuite name="functional">
      <directory suffix="FunctionalTest.php">tests</directory>
    </testsuite>
    <testsuite name="integration">
      <directory suffix="IntegrationTest.php">tests</directory>
    </testsuite>
    <testsuite name="unit">
      <directory suffix="UnitTest.php">tests</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>

</phpunit>
